.popup {
    padding: 5px 20px 5px 20px;
    width: 350px;
    height: 200px;
}

.popup__title {
    top: 0;
    padding: 10px;
    background-color: blueviolet;
    font-size: 10px;
    border-radius: 0 0 10px 10px;
    color: #FFF;
    font-size: 15px;

}